@import url(https://fonts.googleapis.com/css?family=Satisfy);
@import url(https://fonts.googleapis.com/css?family=Lato:700);
@font-face {
	font-family: 'Thirsty';
	src: url(../fonts/ThirstyRoughBolTwo.otf)
}

body {
		background: #ed1849;
}

h2	{
	font-family: 'Thirsty', cursive;
	font-size: 40px;
	line-height: 1.5em;
	text-align: center;
	color: white;
	background-size: cover;
}

h4	{
	text-align: center;
}

#quote {
	width: 100%;
	background: url("../images/red page tear.png") no-repeat bottom center;
	background-size: cover;
	background-color: transparent;
	position: relative;
	z-index: 2;
	padding: 40px 0 80px; 
}

#mission {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	text-align: center;
	line-height: 1.5em;
	color: white;
/*	margin: 6em;*/
/*	overflow: auto;*/
	background: url("../images/homework.jpg") no-repeat center center scroll;
	background-size: cover;
	height: 250px;
	position: relative;
	top: -60px;
	padding-top: 80px;
}

#mission a {
	background-color: rgba(0,0,0,0);
}

#blog, #events {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	text-align: center;
	line-height: 1.5em;
	color: white;
/*	margin: 6em;*/
	background: #ed1849;
	background-size: cover;
}

#post1, #post2, #post3 {
	float: left;
	padding: 10px;
	margin: 10px;
}

#hero {
	background: url("../images/3girls.jpg") no-repeat center center fixed;
	background-size: cover;
	height: 600px;
	position: relative;
}

/*@
element selectors
classes
id's
media queries*/


header{
	position: relative;
}

header img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

nav{
	background-color: #ed1849;
	position: fixed;
	top: 20px;
	width: 100%;
	left: 0;
	z-index: 3;
}

ul{
	float: right;
}

nav li, 
nav li a{
	display: inline-block;
}


a {
	font-family: 'Lato', sans-serif;
	background-color: #ed1849;
	color: white;
	text-decoration: none;
	display: block;
	/*float: right;*/
	padding: 10px;
}

a:hover {
	color: black;
	text-decoration: underline;
}

#bottomnav {
	background-color: #ed1849;
	display: inline-block;
	float: left;
	padding: 10px;
	word-spacing: 5px;
	clear: both;
}

footer {
	clear: both;
}

.blogpreview {
	width: 300px;
	margin: 20px;
	float: left;
}

.clearfix:after {
	display: block;
	content: "hello";
	clear: both;
	visibility: hidden;
	font-size: 0;
	height: 0;
}